<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REGISTER | WEBAPP</title>

    <link rel="stylesheet" href={{url_for("static",filename="main.css")}}>


</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a class="active" href="/register">Register</a></li>
        </ul>
    </nav>
    <h1>NLP WEB APP</h1>
    <br>
    <h3>Register</h3>
    {% if msg %}
        <p class="info">{{msg}}</p>
    {%endif%}
    <br>
    <form action="/perform_registration" , method="post">
        <label>Username</label><br>
        <input type="text" , name="user_name" , required, maxlength ='42'>
        <br>
        <br>
        <label>Email</label><br>
        <input type="email" , name="user_email" , required, maxlength ='42'>
        <br>
        <br>
        <label>Password</label><br>
        <input type="password" , name="user_password" , required , minlength="8" , maxlength ='20'>
        <br>
        <br>
        <button>Register</button>
        <br>
        <p>Already a Member?<a href="/login"> Login Here</a></p>
    </form>

</body>
</html>