<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NER PROFILE | WEBAPP</title>
    <link rel="image" href="flask_project/static/favicon.ico" type="image/png type">

    <link rel="stylesheet" href={{url_for("static",filename="main.css")}}>
    <style>
        /* Style the form */
        form {
            width: 50%;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0,0,0,0.2);
    </style>

</head>
<body>
    <nav>
        <ul>
            <li style = "float: right"><a href="/">Logout</a></li>
            <li style = "float: right"><a class="active" href="/profile">Profile</a></li>


        </ul>
    </nav>

    <br>
    <br>
    <h1>Select Type Of Analysis You Would Like To Perform</h1>
    <br>
    <h3>Please select one of the below options</h3>


    <div style="margin:10px 10px; padding-bottom:10px;">

         <form  class="profile">
            <button formaction="/ner_profile">Name Entity Recognition</button>
            <button class='active2' formaction="/sentiments_profile">Sentiments Analysis</button>
            <button formaction="/emotions_profile">Emotions Analysis</button>
        </form>


    </div>

    <h3>Sentiments Analysis</h3>
    <h5>Please type the text below to perform Sentiment analysis</h5>

    <form action="/perform_sentiments" , method="post">
        <textarea style="width: 100%; font-size:16px; background-color: #fff8dc; height:200px; overflow:scroll; resize:None" , name="txtbox"  required>In a statement issued with France and UN chief António Guterres on Saturday, China committed to “update” its climate target “in a manner representing a progression beyond the current one”.  It also vowed to publish a long term decarbonisation strategy by next year.</textarea>
        <br>
        <button >Analyze</button>
        {%if msg%}
            <p class="ner_display" style="font-weight:bold"> Sentiment Analysis Results:</p>

            <div class="grid-container">
                <div class="grid-item">
                    <img src="https://em-content.zobj.net/source/animated-noto-color-emoji/356/slightly-smiling-face_1f642.gif" alt="Negative" width="70" height="70">
                    <p> Negative </p>
                    <p class="highlighted"> {{msg['sentiment']['negative']|round(2)|string }}</p>
                </div>

                <div class="grid-item">
                    <img src="https://em-content.zobj.net/source/animated-noto-color-emoji/356/neutral-face_1f610.gif" alt="Neutral" width="70" height="70">
                    <p>Neutral</p>
                    <p class="highlighted"> {{msg['sentiment']['neutral']|round(2)|string }}</p>
                </div>

                <div class="grid-item">
                    <img src="https://em-content.zobj.net/source/animated-noto-color-emoji/356/slightly-frowning-face_1f641.gif" alt="Positive"	width="70" height="70">
                    <p>Positive</p>
                    <p class="highlighted"> {{msg['sentiment']['positive']|round(2)|string }}</p>
                </div>
            </div>

        {%endif%}


    </form>


</script>

</body>
</html>